In [2]:
import pandas as pd
ff_data = pd.read_csv("https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/ftp/F-F_Research_Data_Factors_CSV.zip", 
                      skiprows=3)
ff_data.rename(columns={0:'Date'}, inplace=True)
ff_data.columns = ff_data.columns.str.replace('Unnamed: 0','Date')
ff_data = ff_data[~ff_data.astype(str).apply(lambda x: x.str.contains('Annual Factors: January-December')).any(axis=1)]
ff_data = ff_data[ff_data['Date'].str.strip().str.len() == 6]
max_date = ff_data['Date'].max()
ff_data.set_index('Date', inplace=True)
ff_data = ff_data.loc[:"max_date"]
ff_data.index = pd.to_datetime(ff_data.index, format="%Y%m").to_period('M')
ff_data = ff_data.apply(pd.to_numeric, errors='coerce')
ff_data = ff_data/100
ff_data

         Mkt-RF     SMB     HML      RF
Date
1926-07  0.0296 -0.0256 -0.0243  0.0022
1926-08  0.0264 -0.0117  0.0382  0.0025
1926-09  0.0036 -0.0140  0.0013  0.0023
1926-10 -0.0324 -0.0009  0.0070  0.0032
1926-11  0.0253 -0.0010 -0.0051  0.0031
...         ...     ...     ...     ...
2023-01  0.0665  0.0502 -0.0405  0.0035
2023-02 -0.0258  0.0121 -0.0078  0.0034
2023-03  0.0251 -0.0559 -0.0901  0.0036
2023-04  0.0061 -0.0334 -0.0003  0.0035
2023-05  0.0035  0.0153 -0.0780  0.0036

[1163 rows x 4 columns]