In [1]:
import pandas as pd
ff_data = pd.read_csv("https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/ftp/F-F_Research_Data_Factors_CSV.zip", 
                      skiprows=3, parse_dates=True)
ff_data.rename(columns={0:'Date'}, inplace=True)
ff_data.columns = ff_data.columns.str.replace('Unnamed: 0','Date')
ff_data = ff_data[~ff_data.astype(str).apply(lambda x: x.str.contains('Annual Factors: January-December')).any(axis=1)]
ff_data = ff_data[ff_data['Date'].str.strip().str.len() == 6]
max_date = ff_data['Date'].max()
ff_data.set_index('Date', inplace=True)
ff_data = ff_data.loc[:"max_date"]
ff_data

          Mkt-RF       SMB       HML        RF
Date
192607      2.96     -2.56     -2.43      0.22
192608      2.64     -1.17      3.82      0.25
192609      0.36     -1.40      0.13      0.23
192610     -3.24     -0.09      0.70      0.32
192611      2.53     -0.10     -0.51      0.31
...          ...       ...       ...       ...
202301      6.65      5.02     -4.05      0.35
202302     -2.58      1.21     -0.78      0.34
202303      2.51     -5.59     -9.01      0.36
202304      0.61     -3.34     -0.03      0.35
202305      0.35      1.53     -7.80      0.36

[1163 rows x 4 columns]